<p class="textLinkHere">DISCIPLINA > CONSULTA</p>
<hr>
<h6 class="display-4">CONSULTA DE DISCIPLINA</h6>
<div class="row">
    <div class="col-4 mt-5">
      <label>Cod. Disciplina</label>
      <input class="form-control">
    </div>
    <div class="col-2 mt-auto">
      <button class="btn btn-primary form-control" (click)="buscarDisciplina()">Buscar</button>
    </div>
    <div class="col-2 mt-auto">
      <button class="btn btn-primary form-control" (click)="limparDisciplina()">Limpar</button>
    </div>
    <div class="col-6 mt-5">
      <label>Nome</label>
      <input class="form-control" type="text" [(ngModel)]="disciplina.nmDisciplina" name="nmDisciplina">
    </div>
    <div class="col-6 mt-5">
      <label>Carga Horária</label>
      <input class="form-control" type="text" [(ngModel)]="disciplina.cargaHoraria" name="cargaHoraria">
    </div>
    <div class="col-4 mt-5">
      <label>Status:</label><label class="ml-2"><b>$variavel</b></label>
    </div>
</div>
