<p class="textLinkHere">TURMA > ALTERAR</p>
<hr>
<h6 class="display-4">ALTERAR DADOS DA TURMA</h6>
<div class="row">
    <div class="col-4 mt-4">
      <label>Cod. Turma</label>
      <input class="form-control">
    </div>
    <div class="col-2 mt-auto">
      <button class="btn-primary form-control" (click)="buscarTurma()">Buscar</button>
    </div>
    <div class="col-2 mt-auto">
      <button class="btn-primary form-control" (click)="limparTurma()">Limpar</button>
    </div>
    <div class="col-6 mt-4">
      <label>Turma</label>
      <input class="form-control" type="text" [(ngModel)]="turma.turma" name="turma">
    </div>
    <div class="col-6 mt-4">
      <label>Periodo</label>
      <select class="form-control" [(ngModel)]="turma.periodo" name="periodo"></select>
    </div>
    <div class="col-6 mt-4">
      <label>Curso</label>
      <input class="form-control" type="text" [(ngModel)]="turma.cdCurso" name="cdCurso">
    </div>
    <div class="col-4"></div>
    <div class="col-10 mt-5">
      <label>Status:</label>
      <br><input type="checkbox" [(ngModel)]="turma.stStatus" name="stStatus">
      <label class="ml-2"><b>Inativo</b></label>
    </div>
    <div class="col-2 mt-5">
      <button class="btn btn-primary form-control" (click)="editarTurma()">Altear</button>
    </div>
</div>
