<input type="checkbox" id="check">
<label for="check" class="btnlabel">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <header>SAGAR</header>
    <ul class="sidebar-item">
        <li class="li-sidbar"><a routerLink="/Home"><i class="fas fa-home"></i>Home</a></li>
        <li class="li-sidbar" (click)="showMenuAula()">
            <a><i class="fas fa-book-open"></i>Aula</a>
            <ul [hidden] = "aula">
                <li><a routerLink="/AulaCadastrar" class="sublink-sidbar">Cadastrar</a></li>
                <li><a routerLink="/AulaConsultar" class="sublink-sidbar">Consultar</a></li>
                <li><a routerLink="/AulaEditar" class="sublink-sidbar">Alterar</a></li>
            </ul>
        </li>
        <li class="li-sidbar " (click)="showMenuProfessor()">
            <a><i class="fas fa-chalkboard-teacher" ></i>Professor</a>
            <ul [hidden] = "professor">
                <li><a routerLink="/professorCadastrar" class="sublink-sidbar">Cadastrar</a></li>
                <li><a routerLink="/ProfessorConsultar" class="sublink-sidbar">Consultar</a></li>
                <li><a routerLink="/ProfessorEditar" class="sublink-sidbar">Alterar</a></li>
            </ul>
        </li>
        <li class="li-sidbar" (click)="showMenuTurma()">
            <a ><i class="fas fa-users"></i>Turma</a>
            <ul [hidden] = "turma">
                <li><a routerLink="/turmaCadastrar" class="sublink-sidbar">Cadastrar</a></li>
                <li><a routerLink="/turmaConsultar" class="sublink-sidbar">Consultar</a></li>
                <li><a routerLink="/turmaEditar" class="sublink-sidbar">Alterar</a></li>
            </ul>
        </li>
        <li class="li-sidbar" (click)="showMenuDisciplina()">
            <a ><i class="fas fa-graduation-cap"></i>Disciplina</a>
            <ul [hidden] = "disciplina">
                <li><a routerLink="/DisciplinaCadastrar" class="sublink-sidbar">Cadastrar</a></li>
                <li><a routerLink="/DisciplinaConsultar" class="sublink-sidbar">Consultar</a></li>
                <li><a routerLink="/DisciplinaEditar" class="sublink-sidbar">Alterar</a></li>
            </ul>
        </li>
        <li class="li-sidbar" (click)="showMenuCurso()">
            <a><i class="fas fa-book"></i>Curso</a>
            <ul [hidden] = "curso">
                <li><a routerLink="/CursoCadastrar" class="sublink-sidbar">Cadastrar</a></li>
                <li><a routerLink="/CursoConsultar" class="sublink-sidbar">Consultar</a></li>
              <li><a routerLink="/EditarCurso" class="sublink-sidbar">Alterar</a></li>
            </ul>
        </li>
        <li class="li-sidbar"><a routerLink="/Conversa"><i class="fas fa-comment"></i>Conversa</a></li>
    </ul>
</div>
<section>
    <app-header></app-header>
    <div class="container p-3">
        <router-outlet></router-outlet>
    </div>
</section>
