<p class="textLinkHere">DISCIPLINA > CADASTRO</p>
<hr>
<h6 class="display-4">CADASTRO DE DISCIPLINA</h6>
<div class="row">
    <div class="col-4 mt-5">
      <label>Cod. Disciplina</label>
      <input class="form-control">
    </div>
    <div class="col-8 mt-5">
      <label>Nome</label>
      <input class="form-control" type="text" [(ngModel)]="disciplina.cdDisciplina" name="cdDisciplina">
    </div>
    <div class="col-4 mt-5">
      <label>Carga Horária</label>
      <input class="form-control" type="text" [(ngModel)]="disciplina.nmDisciplina" name="nmDisciplina">
    </div>
    <div class="col-10 mt-5">
    </div>
    <div class="col-2 mt-5">
      <button class="btn btn-primary form-control" (click)="cadastrarDisciplina()">Cadastrar</button>
    </div>
</div>
