<p class="textLinkHere">TURMA > CONSULTA</p>
<hr>
<h6 class="display-4">CONSULTA DE TURMA</h6>
<div class="row">
    <div class="col-4 mt-5">
      <label>Cod. Turma</label>
      <input class="form-control">
    </div>
    <div class="col-2 mt-auto">
      <button class="btn btn-primary form-control" (click)="buscarTurma()">Buscar</button>
    </div>
    <div class="col-2 mt-auto">
      <button class="btn btn-primary form-control" (click)="limparTurma()">Limpar</button>
    </div>
    <div class="col-6 mt-5">
      <label>Turma</label>
      <input class="form-control" type="text" [(ngModel)]="turma.turma" name="turma">
    </div>
    <div class="col-6 mt-5">
      <label>Periodo</label>
      <select class="form-control" [(ngModel)]="turma.periodo" name="periodo">
        <option onselect="true">Selecione Uma Opção</option>
        <option value="Matutino">Matutino</option>
        <option value="Vespertino">Vespertino</option>
        <option value="Diurno">Diurno</option>
      </select>
    </div>
    <div class="col-6 mt-5">
      <label>Curso</label>
      <input class="form-control" type="text" [(ngModel)]="turma.curso" name="curso">
    </div>
</div>
