<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <label>Data Inicial</label>
      <input type="date" [(ngModel)]="dtInicial" class="form-control">
    </div>
    <div class="col-md-6 col-sm-12" >
      <label>Data Final</label>
      <input type="date" [(ngModel)]="dtFinal" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12"><canvas id="myChart" width="1200px" height="1000"></canvas></div>
    <div class="col-md-6 col-sm-12"><canvas id="myChart2" width="1200px" height="1000"></canvas></div>
  </div>
  </div>
